/* nav section and nav link styles */
.NavSection {
	top: calc(100% + 1px);
	transition: all 150ms linear 0s, box-shadow 0ms linear 0s;
}

.NavSection__content {
	transition: all 300ms ease-in-out 0s;
}

.NavLink__inner:before {
	content: "";
	height: 4px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.NavItem:hover .NavLink__inner:before {
	@apply bg-blue-600;
}

.NavItem:hover .NavSection {
	opacity: 1 !important;
	visibility: visible !important;
	pointer-events: auto !important;
}

.NavItem:hover .NavSection__content {
	opacity: 1 !important;
}


.NavSection > div:first-child {
	flex: 0 1 0%;
	grid-template-columns: repeat(1, max-content);
	grid-gap: 20px;
	grid-auto-flow: row;
}